@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.mood-content {
    font-family: 'Lexend Deca', sans-serif;
}

.mood-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: none !important; 
    border-bottom: none !important;
}

.mood-custom-title {
    text-align: center;
    flex-grow: 1; 
    font-size: 18px;
    margin-top: 5;
}

