@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&display=swap');

#profile-container {
    text-align: center;
    background-color: var(--main);
    color: var(--text);
    font-family: 'Lexend Deca', sans-serif;
    max-width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    padding: 15px;
    color: var(--text);
}

#username-title {
    color: var(--text);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.section-titles {
    color: var(--text);
    padding: 20px 0;
    font-size: 1.1rem;
    margin-top: 5px;
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid var(--accent);
    width: 100%;
    max-width: 600px;
}

.username-section, .league-section, .email-section {
    background: var(--secondary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.username-section:hover, .league-section:hover, .email-section:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Updated Button Styles*/
.styled-button {
    --background: var(--green); 
    --background-hover: var(--blue-dark);
    --background-activated: var(--blue-dark);
    --color: var(--text-light);
    border-radius: 20px !important;
    padding: 10px 16px;
    font-weight: 600;
    color: var(--text);
    text-transform: none;
}

.styled-button:focus, .styled-button:active {
    --border-radius: 20px !important;
}

.styled-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* inputs*/
.username-input, .email-input {
    --background: var(--input-bg);
    --color: var(--text);
    --placeholder-color: var(--text-muted);
    --border-radius: 8px;
    border: 1px solid var(--border);
    padding: 8px 12px;
    width: 100%;
    --highlight-color-focused: var(--pink); 
}


.username-input:focus, .email-input:focus {
    border-color: var(--pink) !important; 
    box-shadow: 0 0 5px var(--pink) !important;
    --highlight-color: var(--red) !important;
}


/* Toast Styles */
.ion-toast-custom {
    --background: var(--secondary);
    --color: var(--text);
    --border-radius: 8px;
    --font-family: 'Lexend Deca', sans-serif;
}
